<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://202.101.89.186:8888/GBE_Web/ios/2017110702/GF_2017110702.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://202.101.89.186:8888/App/image/min.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://202.101.89.186:8888/App/image/max.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.bonc.DistrictGF.TELECOM.GZ</string>
				<key>bundle-version</key>
				<string>2017111501</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>FindYouAnyWhere</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
